.site-header {
  background-color: #2e2e2e;
  color: white;
}

.search-button {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: #2563eb;
}/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
